$p-gold: #c9b27c;
$p-black: #000000;
$p-gray: #eeeeee;

body {
    background-color: $p-gray;
}

.hero,
.program-hero {
    background-color: $p-black;
}

.btn-warning {
    background-color: $p-gold;
    border-color: $p-gold;
}